<h1> Make a post below!!</h1>

<form>

	<p>title</p>
	<input type="text" name="title"></input>

	<p>text</p>
	<input type="text" name="title"></input>
	<button>Save!</button>
</form>


<script>
	console.log('Do the on click for the form and do a fetch call!! smack the /api/posts route')

</script>