<h1> Single post coming soon!</h1>
<h2>{{singlePost.title}}</h2>
<p>{{singlePost.content}}</p>
<p>{{singlePost.id}}</p>

{{#each singlePost.comments}}
<h2>{{text}}</h2>
{{/each}}
<p>Add a comment!</p>
<input id = "comment"></input>
<button id = "add">Save comment</button>

<script>
document.getElementById ('add').addEventListener('click', function(){
	var comment = document.getElementById('comment').value;
		console.log('r stuff', comment)
    //console.log('window.location', window.location)
      console.log(window.location.href.substring(window.location.href.lastIndexOf('/') + 1));
			fetch('/createComment', {
        method: 'POST',
        body: JSON.stringify({
          comment: comment,
          post_id: window.location.href.substring(window.location.href.lastIndexOf('/') + 1)
          }),
        headers: { 'Content-Type': 'application/json' },
      })
})



</script>